<% layout('./layout.html') %>

<canvas id="webgl" class="fixed top-0"></canvas>
<main class="max-w-screen-xl mx-auto px-4 xl:px-0">
  <section class="h-screen flex items-center max-w-full">
    <h1 class="text-5xl md:text-6xl xl:text-9xl text-white font-bold">Portfolio</h1>
  </section>
  <section class="h-screen flex items-center justify-end">
    <h1 class="text-5xl md:text-6xl xl:text-9xl text-white font-bold">Projects</h1>
  </section>
  <section class="h-screen flex items-center">
    <h1 class="text-5xl md:text-6xl xl:text-9xl text-white font-bold">Contact</h1>
  </section>
</main>
<script type="importmap">
  {
    "imports": {
      "three": "/node_modules/three/build/three.module.js",
      "three/": "/node_modules/three/",
      "gsap": "/node_modules/gsap/index.js",
      "gsap/": "/node_modules/gsap/",
      "dat.gui": "/node_modules/dat.gui/build/dat.gui.module.js"
    }
  }
</script>
<script src="/public/js/main.js" type="module"></script>
